# Secrets & local env
.env
.env.dev
.env.prod
.env.test

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.venv/
venv/
*.egg-info/
dist/
build/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
